@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@font-face {
  font-family: 'Android';
  src: url('/HTML/fontes/idroid.otf');
  font-weight: normal;
}


:root {
--cor0: #c5ebd6;
--cor1: #83e1ad;
--cor2: #3ddc84;
--cor3: #2fa866;
--cor4: #1a5c37;
--cor5: #063d1e;


--fontbebas: 'Bebas Neue', cursive;
--font-android: 'Android', cursive;
}
*{
  margin: 0px;
  padding: 0px;
  text-align: justify;
}
body {
  background-color: var(--cor0);  
}
a.externo::after {
  content: '\00A0\1F517';
}
  

header {
  background-image: linear-gradient(#2fa866, #063d1e);
  height: 215px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.308);
  
}
header h1 {
  font-size: 30pt;
  text-align: center;
  color: white;
  padding: 30px; 
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.534) ; 
  font-family: var(--fontbebas);
}
header h2 {  
  max-width: 500px;
  text-align: center;  
  margin: auto;
  color: white;
  font-size: 20px; 
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.534) ; 
}
header nav {
  padding-top: 25px;
  padding-left: 9px;
}
header nav a {
  padding: 10px;
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
header nav a:hover {
  background-color: #2fa866;
  color: #063d1e;
  border-radius: 10px;
  transition-duration: 0.5s;  
  box-shadow: 3px 3px 3px #c5ebd67e;
  
}
main {
  max-width: 800px;
  background-color: white;
  margin: auto;
  border-radius: 0px 0px 15px 15px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.418);
}

main p {
  padding: 20px; 
  text-indent: 30px; /*recuo no começo dos paragrafos*/
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  line-height: 2em; /*distancia entre uma linha e outra */  

}

main img.pequena {
  max-width: 340px;
  display: block;
  margin: auto;
}
main h1 {
  font-size: 20pt;
  padding: 11px 0px 0px 20px;
  font-family: var(--font-android);
  color: #063d1e;
}

main h2 {
  padding: 4px;
  padding-left: 10px;
  background-image: linear-gradient(to right, #2fa866, white);
  color: white;
  text-shadow: 1px 1px 5px black;
  font-family: var(--font-android);
}

main div img {
  margin-left: auto;
}
aside {
  background-color: var(--cor2);
  margin-top: 20px;
  border-radius: 10px;
  max-width: 750px;
  margin: auto;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.342);  
}
 main strong {
   color: #063d1e;
   font-weight: bold;
 }
 main a {
   text-decoration: none;
   font-weight: bold;
   color: #063d1e;
   background-color: #3ddc84;
   padding: 4px;
 }
 main a:hover {
   text-decoration: underline;
   color: white;
 }
 div.video {
   background-color: #063d1e;
   margin: 0px 0px 30px 0px;
   padding: 20px;
   padding-bottom: 59%;
   position: relative;
 }
 div.video > iframe {
   position: absolute;
   top: 5%;
   left: 5%;
   width: 90%;
   height: 90%;
 }
 aside ul {
  list-style-position: inside; /* a marcação dentro da caixa mae*/
  list-style-type: '\2714\00A0\00A0';
  columns: 2;
  margin-left: 10px;

}
aside h3 {
  background-color: #063d1e;
  color: white;
  border-radius: 10px 10px 0px 0px;  
  padding: 5px;
  padding-left: 10px;
  font-family: var(--font-android);
  font-weight: normal;
  
}
footer {
  background-color: #063d1e;
  color: white;
  text-align: center;
  margin-top: 20px;
  padding: 5px;
  font-weight: bold;
}